name: Pull request automation

on:
  pull_request:
    branches: [ master, develop ]
jobs:

  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        python-version: ['3.7', '3.8', '3.9.7', '3.10']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip3 install -e .[test]

    - name: Lint with flake8 and black
      run: |
        flake8 . --count
        black . --check

    - name: isort
      run: |
        isort . --profile black --filter-files --check-only --diff --skip venv

    - name: Run tox tests
      run: |
        unzip -P infected tests/test_files.zip -d ./tests/
        tox

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: tests/coverage.xml
